<%-include('partials/header.ejs');%>
<%-include('partials/nav.ejs')%>
    <section>
        <form action="/alumnos" method="post"><br>
            <input type="number" id="matricula" name="matricula" placeholder="Matricula" required>
            <input type="text" id="nombre" name="nombre" placeholder="Nombre" required>
            <input type="text" id="domicilio" name="domicilio" placeholder="Domicilio" required>
            <input type="text" id="sexo" name="sexo" placeholder="Sexo: M o F" required>
            <input type="text" id="especialidad" name="especialidad" placeholder="Especialidad" required>
            <div style="float: right;margin-right: 5.5rem;margin-top: 1rem;">
               <button type="submit" id="btnEnviar">Enviar</button>
            </div>
        </form>
        <div class="container">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Matricula</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Domiclio</th>
                        <th scope="col">Sexo</th>
                        <th scope="col">Especialidad</th>
                    </tr>
                </thead>
                <tbody>
                <%
                    if (reg) {
                        for (let i = 0; i < reg.length; ++i) {
                %>
                            <tr>
                                <td><%= reg[i].id_alumno %></td>
                                <td><%= reg[i].matricula %></td>
                                <td><%= reg[i].nombre %></td>
                                <td><%= reg[i].domicilio %></td>
                                <td><%= reg[i].sexo %></td>
                                <td><%= reg[i].especialidad %></td>
                            </tr>
                <%
                        }
                    }
                %>
                </tbody>
            </table>
        </div>  
    </section>
<%-include('partials/footer.ejs')%>
