<%-include('partials/header.ejs');%>
<%-include('partials/nav.ejs')%>
<style>
     
    #resumen {
            display: flex; 
            line-height: 1;
        }
        #info,
        #total {
            border-collapse: collapse;
            margin-right: 20px;
        }
        #info th,
        #total th,
        #info td,
        #total td {
            border: 2px solid #868686;
            padding: 10px;
        }
        #info th,
        #total th {
            background-color: #f2f2f2;
            text-align: center;
        }
        #info td,
        #total td {
            text-align: center;
        }
</style>
<section>
    <div id="formulario">
        <form action="/cotizacion" method="post"><br><br>
            <label for="folio">Folio</label>
            <input type="number" name="folio" id="folio" required><br><br>
            <label for="">Valor de Automovil</label>
            <input type="number" name="valor" id="valor" required><br><br>
            <label for="">Porcentaje de Pago Inicial</label>
            <input type="number" name="pinicial" id="pinicial" required><br><br>
            <label for="">Meses</label>
            <select name="plazo" id="plazo">
                <option value="12">12 Meses</option>
                <option value="24">24 Meses</option>
                <option value="36">36 Meses</option>
                <option value="48">48 Meses</option>
                <option value="60">60 Meses</option>
            </select><br><br>
            <center>
                <button type="submit">Calcular</button>
                <button type="button" onclick="limpiarTabla()">Limpiar</button><br><br>
            </center>
        </form>
    </div>
    <div id="resumen">
        <table id="info">
            <tr>
                <th>Folio</th>
                <th>Precio</th>
                <th>Porcentaje Inicial</th>
                <th>Plazos</th>
            </tr>
            <tr>
                <td id="folioCell"><%= folio %></td>
                <td id="valorCell">$<%= valor %></td>
                <td id="pinicialCell"><%= pinicial %>%</td>
                <td id="plazoCell"><%= plazo %> meses</td>
                <br>
                <br>
            </tr>
        </table>
        <br><br>
        <table id="total">
            <tr>
                <th>Pago inicial</th>
                <th>Total a Fin</th>
                <th>Pago mensual</th>
            </tr>
            <tr>
                <td id="pagoInicialCell">$<%= pagoInicial %></td>
                <td id="totalAFinCell">$<%= totalAFin %></td>
                <td id="pagoMensualCell">$<%= pagoMensual %></td>
                <br>
                <br>

            </tr>
        </table>
    </div>
</section>
<script>
    function limpiarTabla() {
        document.getElementById("folio").value = "";
        document.getElementById("valor").value = "";
        document.getElementById("pinicial").value = "";
        document.getElementById("plazo").value = "";
        document.getElementById("folioCell").innerHTML = "";
        document.getElementById("valorCell").innerHTML = "";
        document.getElementById("pinicialCell").innerHTML = "";
        document.getElementById("plazoCell").innerHTML = "";
        document.getElementById("pagoInicialCell").innerHTML = "";
        document.getElementById("totalAFinCell").innerHTML = "";
        document.getElementById("pagoMensualCell").innerHTML = "";
    }
</script>

<%-include('partials/footer.ejs')%>