<%-include('partials/header.ejs');%>
<%-include('partials/nav.ejs')%>
    <section><br><br>
        <form action="/tabla" method="post">
            <label for="numero">Tabla</label>
            <input type="number" name="numero" id="numero" required value="<%=numero || ''%>">
            <button type="submit">Calcular</button>
            <% if (numero) { %>
                <h2>Tabla de multiplicar de <%=numero%></h2>
                <ul>
                    <% for (let i = 1; i <= 10; i++) { %>
                        <li><%=numero%> * <%=i%> = <%=numero * i%></li>
                    <% } %>
                </ul>
            <% } %>
        </form>
    </section>
